/* Header section */
header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1400px;
   margin: 5px auto auto auto;
}

#logo {
   width: 10%;
   max-width: 20rem;
}

#logo-name {
   font-family: radley, sans-serif;
   font-style: italic;
   margin-left: 0.5rem;
   font-weight: lighter;
   font-size: 28pt;
}

#logo-section {
   display: flex;
   align-items: center;
   margin-left: 1rem;
}

#navigation-one {
   display: flex;
   width: 22rem;
}

#navigation-two {
   visibility: hidden;
   width: 25%;
   margin-right: 30px;
}

.dropdown {
   visibility: hidden;
   position: fixed;
   height: 70px;
   margin-top: 5px;
   border: 2px solid black;
}

.links {
   visibility: hidden;
   margin-top: -10px;
   background-color: white;
}

.show{
   visibility: visible;
}

.hide {
   visibility: hidden;
}

#menu-img {
   width: 100%;
   margin: auto;
}

ul {
   padding: 0;
}

#links {
   margin: auto;
}

li {
   list-style: none;
   display: inline-block;
   margin: auto 0.5rem;
   font-size: 16pt;
}

@media screen and (max-width: 450px) {
   #navigation-one {
      /* visibility: hidden; */
      width: 25%;
   }

   /* #navigation-two {
      visibility: visible;
   } */

   ul {
      text-align: right;
   }

   .dropbtn {
      width: 50%;
      margin: auto;
   }

   #myDropdown {
      visibility: hidden;
   }

   #logo {
      width: 15%;
   }

   #logo-name {
      font-size: 12pt;
   }

   #logo-section {
      margin-left: 0.3rem;
   }

   a > li {
      font-size: 8pt;
   }
}

@media screen and (min-width: 351px) and (max-width: 800px) {
   #logo-name {
      font-size: 14pt;
   }

   a > li {
      font-size: 12pt;
   }
}
