<header>
      <div id="logo-section">
         <img id="logo" src="assets/EZ-SmallLogo.png">
         <h1 id="logo-name">Edgar J. Zambrana</h1>
      </div>
      <div id="navigation-one">
         <ul id="links">
            <a routerLink="" (click)="scrollToTop()"><li>Home</li></a>
            <a routerLink="/about" (click)="scrollToTop()"><li>About</li></a>
            <a routerLink="/projects" (click)="scrollToTop()"><li>Projects</li></a>
            <a routerLink="/contact" (click)="scrollToTop()"><li>Contact</li></a>
         </ul>
      </div>
</header>