/* Header section */
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 10vh;
   width: 100%;
}

#logo {
   width: 10%;
   height: 10%;
   max-width: 20rem;
   max-height: 20rem;
}

#logo-name {
   font-family: radley, sans-serif;
   font-style: italic;
   margin-left: 0.5rem;
   font-weight: lighter;
   font-size: 28pt;
}

@media screen and (max-width: 350px) {
   #logo-name {
      font-size: 12pt;
   }

   a > li {
      font-size: 4pt;
   }
}

@media screen and (min-width: 351px) and (max-width: 800px) {
   #logo-name {
      font-size: 14pt;
   }

   

   a > li {
      font-size: 12pt;
   }
}

#logo-section {
   display: flex;
   align-items: center;
   margin-left: 1rem;
}

#navigation {
   display: flex;
   width: 22rem;
}

ul {
   padding: 0;
}

#links {
   margin: auto;
}

li {
   list-style: none;
   display: inline-block;
   margin: auto 0.5rem;
   font-size: 16pt;
}