<header>
      <div id="logo-section">
         <img id="logo" src="assets/EZ-SmallLogo.png">
         <h1 id="logo-name">Edgar J. Zambrana</h1>
      </div>
      <div id="navigation-one">
         <ul id="links">
            <a routerLink=""><li>Home</li></a>
            <a routerLink="/about"><li>About</li></a>
            <a routerLink="/projects"><li>Projects</li></a>
         </ul>
      </div>
      <!-- <div id="navigation-two">
         <img src="assets/menu-icon.png" id="menu-img">
         <div class="dropdown">
            <a routerLink=""><p class="links">Home</p></a>
            <a routerLink="/about"><p class="links">About</p></a>
            <a routerLink="/projects"><p class="links">Projects</p></a>
         </div>
      </div> -->
</header>