<div id="about-edgar-full">
   <div id="section-one">
      <img id="about-img" src="assets/About Edgar Zambrana - blue.png">
   </div>
   <!-- <div id="section-two-container"> -->
      <div id="section-two">
      <p class="p">My coding journey began in a self-taught environment, where I eagerly acquired foundational programming skills. However, my insatiable thirst for knowledge propelled me to General Assembly, where I had the privilege of learning from exceptional instructors and refining my Full-Stack development expertise. Although I excel in web development, my passion for coding extends far beyond its boundaries. As a dedicated and adaptable software engineer, I am always excited to explore diverse realms of software engineering. I firmly believe that when you pursue what you love, a deep sense of fulfillment follows.</p>
      <img id="profile-picture" src="assets/profile-picture.png">
      </div>
   <!-- </div> -->
   <div id="section-three">
      <p class="p">Since 2021, I have been fully immersed in the captivating world of coding, equipping myself with the skills and knowledge required to proficiently develop web applications in various roles. Whether as a Full Stack, Back End, or Front End developer, I bring a comprehensive skill set to the table. I derive immense satisfaction from crafting intuitive user interfaces, implementing robust back-end functionalities, and seamlessly blending design with functionality.</p>
      <p class="p">Beyond coding, my support system consists of my wonderful wife and our two adorable Shiba Inus. When I'm not deep in code, you can often find me sharing joyful laughter with my wife over the silly antics of our dogs or planning our next adventure-filled vacation.</p>
   </div>
   <div id="section-four">
      <p id="quote">"Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. The only way to do great work is to love what you do."</p>
      <p id="credit">-Steve Jobs</p>
      <!-- <a href="assets/EdgarZambrana_Resume2023.pdf" id="resume-link" target="_blank" download><button id="resume-btn">Edgar's Resume</button></a> -->
   </div>
</div>