<!-- Hero Section -->
<div id="hero">
   <video autoplay muted loop id="edgar-video">
      <source src="assets/Helloimedgar! VIDEO.mp4" type="video/mp4">
   </video>
   <div id="hero-wording">
     <p class="hero-p">Passionate Full-Stack developer with an eye for clean and efficient code, specializing in object-oriented programming languages.</p>
     <a id="link-to-about" routerLink="/about"><button id="btn-to-about">About Me</button></a>
   </div>
</div>

<!-- About Section -->
<div id="about">
   <div id="about-container">
      <img id="about-img" src="assets/AboutEdgarZambrana-white.png">
      <p class="about-p">My coding journey began in a self-taught environment, where I acquired foundational programming skills. However, my hunger for knowledge led me to General Assembly, where I had the privilege of learning from exceptional instructors and honing my Full-Stack development skills. While my expertise lies in web development, my passion for coding knows no bounds. As a dedicated and adaptable software engineer, I am eager to explore various realms of software engineering. I believe that when you do what you love, you'll love what you do.</p>
   </div>
</div>

<!-- Projects Section Board -->
<div id="projects">
   <!-- <div id="projects-board"> -->
      <div id="first-row">
         <img class="grid-images" src="assets/FullStack.png">
         <img class="grid-images" src="assets/BackEnd.png">
         <img class="grid-images" src="assets/FrontEnd.png">
      </div>
      <div id="second-row">
         <p class="projects-board-p">Since 2021, I've been immersed in the world of coding and have acquired the skills and knowledge to develop web applications with proficiency in multiple roles. Whether it's as a Full Stack, Back End, or Front End developer, I bring a comprehensive skill set to the table. I thrive on crafting intuitive user interfaces, implementing robust back-end functionalities, and bridging the gap between design and functionality.</p>
      </div>
      <div id="third-row">
         <div class="blocks">
            <h3 class="block-headers">Languages</h3>
            <p class="block-p">Java</p>
            <p class="block-p neg-margin">JavaScript</p>
            <p class="block-p neg-margin">HTMl</p>
            <p class="block-p neg-margin">CSS</p>
            <p class="block-p neg-margin">TypeScript</p>
            <p class="block-p neg-margin">PostgreSQL</p>
         </div>
         <div id="middle-block" class="blocks">
            <h3 class="block-headers">Frameworks</h3>
            <p class="block-p">Angular</p>
            <p class="block-p neg-margin">Spring Boot</p>
            <p class="block-p neg-margin">Bootstrap</p>
            <p class="block-p neg-margin">RestAPI</p>
         </div>
         <div class="blocks">
            <h3 class="block-headers">Applications</h3>
            <p class="block-p">IntelliJ</p>
            <p class="block-p neg-margin">Visual Studio Code</p>
            <p class="block-p neg-margin">Postman</p>
            <p class="block-p neg-margin">Git & GitHub</p>
         </div>
      </div>
   <!-- </div> -->
</div>

<!-- Featured Projects Board -->
<div id="featured-projects">
   <div id="featured-header">
      <video autoplay muted loop id="featured-video">
         <source src="assets/FeaturedProjectsNewVideo.mp4" type="video/mp4">
       </video>
       <h3 id="featured-h3">Some of my development projects created using languages including but not limited to: Java, JavaScript, HTML, CSS</h3>
   </div>
   <div id="featured-projects-board">
      <img class="featured-image" src="assets/RPS.png">
      <img class="featured-image" src="assets/RealEstateAPI.png">
      <img class="featured-image" src="assets/TTT.png">
   </div>
   <!-- <div id="theres-more"> -->
      <p class="more-p">but wait... there's more!</p>
      <a routerLink="/projects" id="projects-link"><button id="more-btn">Project Gallery</button></a>
   <!-- </div> -->
</div>