/* You can add global styles to this file, and also import other style files */
* {
   font-family: carlito, sans-serif;
}

body {
   width: 100%;
   margin: auto;
}

a:link {
   text-decoration: none;
   color: #033576;
 }
 
 a:visited {
   text-decoration: none;
   color: #033576;
 }
 
 a:hover {
   text-decoration: underline;
   color: orange;
 }
 
 a:active {
   text-decoration: underline;
   color: #033576;
 }
