<footer>
   <div id="container">
      <img id="footer-image" src="assets/Footer.png">
      <div id="footer-connect">
         <a href="https://www.linkedin.com/in/edgar-j-zambrana-0b11a31b2/" target="_blank"><img class="footer-connecting" src="assets/LinkedIn-White.png"></a>
         <a href="https://github.com/EdgarJoell" target="_blank"><img class="footer-connecting" src="assets/GitHub-White.png"></a>
         <a href="mailto: edgar.softwareengineer@gmail.com"><img class="footer-connecting" src="assets/Email-White.png"></a>
      </div>
   </div>
</footer>