<div id="hero-container" class="container-setup blue">
   <h1 id="hero-h1">{{ project.title }}</h1>
   <h3 id="hero-h3">{{ project.objective }}</h3>
</div>

<div class="container-setup">
   <h2 class="section-heading">So what does it look like?</h2>
   <div class="flexed">
      <div class="image-card" *ngFor="let image of project.imageString; let i = index">
         <div class="image-container">
            <img src="{{ image }}">
         </div>
         <p class="image-paragraph">{{ project.imageDescription[i] }}</p>
      </div>
   </div>
</div>

<div id="project-built-container" class="container-setup blue">
   <h2 class="section-heading">How was this project built?</h2>
   <p>{{ project.built }}</p>
</div>

<div id="github-container" class="container-setup">
   <h2 class="section-heading">GitHub</h2>
   <p>To find the GitHub repository, please click the button to taken the projects main repo page!</p>
   <a href="{{ project.link }}" class="btn-click" target="_blank">View On GitHub</a>
</div>