.container-setup {
   width: 100%;
   text-align: center;
   font-family: carlito, sans-serif;
}

.blue {
   background-color: #033576;
   color: white;
}

#hero-container {
   padding: 1% 0;
}

#hero-h1 {
   font-size: 60pt;
}

#hero-h3 { 
   font-size: 20pt;
   width: 70%;
   margin: auto;
   font-weight: lighter;
   padding-bottom: 2%;
}

.flexed {
   margin: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   width: 85%;
   max-width: 1900px;
   padding: 2% 0;
}

.image-card {
   border: 2px solid gray;
   border-radius: 30px;
   width: 45%;
   max-width: 800px;
   overflow: hidden;
   margin: 2%;
}

img {
   width: 100%;
   border-bottom: 2px solid gray;
}

.image-container {
   width: 100%;
}

.image-paragraph {
   padding: 4% 0;
   width: 75%;
   text-align: center;
   margin: auto;
   font-size: 16pt;
}

.section-heading {
   font-style: italic;
   font-size: 30pt;
   font-weight: lighter;
}

#project-built-container {
   padding: 1% 0 3% 0;
}

#project-built-container > p {
   width: 75%;
   margin: auto;
   font-size: 18pt;
}

#github-container {
   padding-bottom: 2%;
}

#github-container > p {
   font-size: 20pt;
   margin-bottom: 3%;
}

/* Media Queries */
@media screen and (max-width: 1400px) {
   .flexed {
      flex-wrap: nowrap;
      flex-direction: column;
   }

   .image-card {
      width: 100%;
   }
}

@media screen and (max-width: 800px) {
   #hero-h1 {
      font-size: 40pt;
   }
   
   #hero-h3 { 
      font-size: 16pt;
   }

   .section-heading {
      font-size: 25pt;
   }

   .image-paragraph {
      font-size: 12pt;
   }

   #project-built-container > p {
      font-size: 14pt;
   }
}

@media screen and (max-width: 450px) {
   #hero-h1 {
      font-size: 40pt;
   }
   
   #hero-h3 { 
      font-size: 12pt;
   }

   .section-heading {
      font-size: 20pt;
   }

   .image-paragraph {
      font-size: 12pt;
   }

   #project-built-container > p {
      font-size: 12pt;
   }

   #github-container > p {
      font-size: 12pt;
      width: 80%;
      margin: 0 auto 3% auto;
   }
}
